name: CI with Security Scan

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t demo-app:ci .

      - name: Scan image for vulnerabilities
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: demo-app:ci
          severity: CRITICAL
          exit-code: 1
